.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    min-width: 100px;
    padding: 16px 32px;
    border-radius:  4px;
    border: none;
    background: #141414;
    color: #fff;
    font-size: 24ps;
    cursor: pointer;
}